:root{
  --shadow: 5px 5px 10px rgba(0,0,0,0.4);
  --radius: 10px;
  --background-color: rgb(107,4,159);
  --background-gradient: linear-gradient(45deg, rgba(107,4,159,1) 0%, rgba(67,67,227,1) 57%, rgba(0,212,255,1) 100%);
}


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: var(--background-color);
  background: var(--background-gradient);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.footer{
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  padding: 1rem;
  color: white;
  background-image: linear-gradient(to right, #434343 0%, black 100%);
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}

.font-weight-bold{
  font-weight: bold;
}

.cover-container {
  margin-right: auto;
  margin-left: auto;
}

.inner {
  text-align: center;
  width: 70%;
  background-color: white;
  border-radius: 20px;
  box-shadow: 10px 5px 5px black;
  padding-bottom: 10px;
}

.cover .btn-lg {
  padding: 10px 20px;
  font-weight: bold;
}

.container-home{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 70vh;
  background: var(--background-gradient);
  }

html, body {
  height: 100%;
}

.masthead {
  position: fixed;
  top: 0;
}
/* Start the vertical centering */
.site-wrapper-inner {
  display: flex;
  vertical-align: center;
  justify-content: center;
}

.scrum{
  padding-top: 10px;
  padding-bottom: 10px;
  width: 60%;
  height: 60%;
}

.font-home-p{
  font-size: 18px;
}

.family-font-first{
  font-family: Impact,sans-serif;
}



/* INSCRIPTION */

.inscription-wrap{
  display: flex;
  justify-content: center;

}

.form-inscription{
  width: 40%;
  position: absolute;
  top: 40%;
  padding: 20px;
  background-color: white;
  border-radius: var(--radius);
  box-shadow: var(--shadow);
}

label{
  width: 30%;
}

input{
  margin-left: 30px;
  border: none;
  border-bottom: solid 1px black;
  outline: 0;
}

.form-button{
  appearance: none;
  border: none;
  color: white;
  background-color: dodgerblue;
  border-radius: var(--radius);
  box-shadow: var(--shadow);
  width: 100%;
  margin-top: 20px;
}