/*.wrap {*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*    min-height: 100vh;*/
/*}*/
.wrap {
    display: flex;
    flex-direction: column;
}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 250px;
    padding: 20px;
    background-color: #f8f9fa;
    border-right: 1px solid #dee2e6;
}

.content {
    flex: 1;
    margin-top: 70px;
    padding: 20px;
}

h1 {
    font-size: 2.5rem;
    font-weight: 600;
    margin-bottom: 30px;
}

.form-group {
    margin-bottom: 20px;
}

.form-select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ced4da;
    border-radius: 4px;
    background-color: #fff;
    font-size: 1rem;
    line-height: 1.5;
}

table {
    width: 100%;
    border-collapse: collapse;
}

thead {
    background-color: #f8f9fa;
}

th,
td {
    padding: 10px;
    text-align: center;
    vertical-align: middle;
}

th {
    font-weight: 600;
}

.btn {
    font-size: 1rem;
    font-weight: 600;
    padding: 10px 20px;
    border-radius: 4px;
}

.btn-light {
    background-color: #f8f9fa;
    border-color: #f8f9fa;
}

.btn-light:hover {
    background-color: #e2e6ea;
    border-color: #dae0e5;
}

/*Tempo*/
table tbody td:nth-child(4) {
    background-color: rgb(239, 172, 34);
}

table tbody td:nth-child(5) {
    background-color: rgb(239, 172, 34);
}

.Custom-Component {
    display: flex;
    align-items: center;
}

.Custom-Component > *:not(:last-child) {
    margin-right: 10px;
}

/*.select-classroom {*/
/*    width: 400px;*/
/*}*/

/*.select-history {*/
/*    width: 400px;*/
/*}*/
